---
import Layout from "@layouts/Layout.astro"
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
    
    return [
        {
            params: { name: 'goles' },
            props: { description : 'Goles Xd' },
        },
        {
            params: { name: 'asistencias' },
            props: { description : 'Asistencias Xd' },
        },
        
    ];
}) satisfies GetStaticPaths;
const links = [
    {name: 'Goles', link: '/estadisticas/goles'},
    {name: 'Asistencias', link: '/estadisticas/asistencias'}
]

const {name} = Astro.params;
const {description} = Astro.props;
 
const title = `${name} | Pag.`;
---



<Layout title={title}>
    <section class="bg-page-init w-full h-[150px]"></section>
    <div class="container mx-auto px-3 max-w-[1080px] flex">
        <nav class="flex flex-col w-2/10">
            {
                links.map(res => (
                    <a href={res.link} class="group flex">
                        
                        <div class="my-2 group-hover:my-1 transition-all duration-300 ease-in border-l-2 border-black mr-1">

                        </div>
                        <span class="my-2">{res.name}</span>
                    </a>
                ))
            }
        </nav>


        <div class="bg-red-200 w-8/10">
            <h2>{description}</h2>

        </div>
    </div>
</Layout>
