---
import { allTeams } from "@api/teams";
import CardTeam from "@components/teams/CardTeam.astro";
import type { Team, Teams } from "@interfaces/all-teams.interfaces";
import Layout from "@layouts/Layout.astro";



const data = (await allTeams()) as Teams;


console.log(data);
const title = 'Equipos | Pag.';
---

<Layout title={title}>
    <section class="relative ">
        <div class="absolute bg-page-init w-screen h-[150px]">

        </div>
        <div class="relative">
            <h2 class="title-page">Equipos</h2>
    
            <div class="grid gap-3 grid-cols-2 xl:grid-cols-4 container mx-auto max-w-[1080px]">
                {
                    data.teams.map(res => (
    
                        <CardTeam 
                            id={res.id}
                            name={res.name}
                            image={res.crest}
                            url={res.tla}
                        />
                    )
                    )
                }
            </div>
        </div>

    </section>
    
</Layout>